<!DOCTYPE html>
  {% load static %}
  <html lang="ja">
  <head>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <title>{% block title %}django_ensuy1{% endblock %}</title>
  </head>
  <body>
    <ul id="nav">
      <li><a href="{% url 'blog:home' %}">Homeへ</a></li>
      <li><a href="{% url 'blog:article_list' %}">記事一覧へ</a></li>
      <li><a href="{% url 'blog:article_create' %}">記事作成へ</a></li>
      <li><a href="{% url 'blog:tag_create' %}">タグ作成へ</a></li>
    </ul>
<!--    <p>base.htmlを使っています！</p>-->
      <div id="content">
        {% block content %} {% endblock %}
      </div>
  </body>
  </html>