<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
</head>
<body>
<h1>Lesson!</h1>

<h2>リスト</h2>

<p>「番号なしリスト」</p>
<ul>
    <li>りんご</li>
    <li>バナナ</li>
    <li>ぶどう</li>
</ul>

<p>「番号ありリスト」</p>
<ol>
    <li>序論</li>
    <li>本論</li>
    <li>結論</li>
</ol>

<p>「番号ありリスト(10番からスタート)」</p>
<ol start="10">
    <li>序論</li>
    <li>本論</li>
    <li>結論</li>
</ol>

<p>「番号ありリスト(逆順)」</p>
<ol reversed>
    <li>序論</li>
    <li>本論</li>
    <li>結論</li>
</ol>

<p>「説明リスト」</p>
<dl>
    <dt>HTML</dt>
    <dd>Webページの文書構造を決めるデータです。</dd>
    <dt>CSS</dt>
    <dd>Webページの見た目を決めるデータです。</dd>
    <dt>JavaScript</dt>
    <dd>Webページに動きをつけるデータです。</dd>
</dl>

<h2>テーブル</h2>



</body>
</html>