{% extends 'base.html' %}

{% block content %}

  <h1>記事一覧</h1>

<form action="" method="GET">
    {{ form.as_div }}
    <button type="submit">検索</button>
</form>

<!--  モデル名小文字表記_list に、そのモデルのデータ一覧が入って渡ってくる-->

  <p>{% for article in article_list %}
    <!-- モデルのインスタンスが渡されている 変数名.フィールド -->
      <a href="{% url 'blog:article_detail' article.pk %}">{{article.title}}</a>:
      {% for tag in article.tags.all %}
        {{ tag.name }}
      {% endfor %}
  <br>
  {% endfor %}
  </p>

{% endblock %}