{% extends 'base.html' %}

{% block content %}
    <h1>記事詳細
        / <a href="{% url 'blog:article_update' article.pk %}">更新</a>
        / <a href="{% url 'blog:article_delete' article.pk %}">削除</a>
    </h1>

    <h3>タイトル</h3>
        <p>{{article.title}}</p>

    <h3>カテゴリ</h3>
        <p>{{article.category}}</p>

    <h3>タグ</h3>
        <p>
         <!-- インスタンス.ManyToManyField名.all -->
            {% for tag in article.tags.all %}
                {{ tag.name }},
            {% endfor %}
        </p>

    <h3>作成日</h3>
        <p>{{article.created_at | date:'Y/m/d H:i:s'}}</p>

    <h3>本文</h3>
        <!--linebreaks: 改行をHTML上に反映させるフィルタ-->
        <p>{{article.text | linebreaks }}</p>

    <h1>コメント欄
        / <a href="{% url 'blog:comment_create' article.pk %}">コメント投稿</a>
    </h1>
    {% for comment in article.comment_set.all %}

        <div>
            <h4>{{ comment.name }}</h4>
            <p>{{ comment.text | linebreaks }}</p>
        </div>
        <hr>
    {% endfor %}

{% endblock %}